.container {
  background-color: black;
  color: white;
  min-height: 4rem;
  width: 100%;
  padding: 1.25rem 7rem 4rem;
  color: rgba(255, 255, 255, 0.7);
}

.container a {
  color: rgba(255, 255, 255, 0.7);
}
.container p {
  margin: 1.5rem 0;
}
.numberPhone {
  text-decoration: none;
}
.linksContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.langSelector {
  display: flex;
  background-color: black;
  border: 1px solid white;
  width: 8rem;
  position: relative;
  border-radius: 8px;
  margin-top: 1.5rem;
}
.select {
  background-color: transparent;
  color: white;
  border: none;
  appearance: none;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
.select:focus {
  outline: none;
}
.iconLetter,
.iconArrow {
  position: absolute;
  align-items: center;
}
.iconLetter {
  left: 4px;
  bottom: 4px;
}
.iconArrow {
  right: 4px;
  bottom: 8px;
}
.select option {
  color: black;
}

@media (max-width: 960px) {
  .linksContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
