.container {
  position: relative;
  width: 100%;
  min-height: 700px;
  overflow: hidden;
  background-color: #141414;
}

.backgroundImage {
  width: 100%;
  height: 700px;
  background-image: url("https://image.tmdb.org/t/p/original/yDHYTfA3R0jFYba16jBB1ef8oIt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 0%, #141414 50%);
  z-index: 2;
}

.content {
  padding: 1rem 4%;
  position: inherit;
  z-index: 3;
}

.featuredSection {
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: end;
}
.feature {
  color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 3%;
}

.containerButtons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}
.containerButtons button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-weight: 700;
}
.divWatch,
.divMore {
  display: flex;
  background-color: white;
  padding: 0.625rem 1.5rem;
  gap: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.divMore {
  background-color: rgba(109, 109, 110, 0.7);
}
.divMore button {
  color: white;
}
.divMore:hover {
  background-color: rgba(109, 109, 110, 0.5);
}
.divWatch:hover {
  background-color: rgb(255, 255, 255, 0.7);
}
.imgTitle {
  width: 400px;
}

.descriptionWrapper {
  overflow: hidden;
  opacity: 0;
  max-height: 0;
  transition: opacity 1.5s ease-in-out, max-height 1s ease;
}

.visible {
  max-height: 500px;
  opacity: 1;
}
