.container {
  padding: 1rem 4%;
  width: 100%;
  height: 700px;
  background-image: url("https://image.tmdb.org/t/p/original/yDHYTfA3R0jFYba16jBB1ef8oIt.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.featuredSection {
  width: 100%;
  min-height: 100vh;
  display: flex;

  align-items: center;
}
.feature {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.feature button {
  width: fit-content;
}
