.cardContainer {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 450px;
  padding: 3rem 4.25rem;
  margin: 0 auto;
}
.cardContainer a {
  text-decoration: none;
  color: inherit;
}
.cardContainer a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.cardContainer h1 {
  margin-bottom: 2rem;
}
.cardContainer div {
  width: 100%;
  position: relative;
}
.formLogin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.formLogin a {
  text-align: center;
}

.buttonToEnter {
  background-color: rgb(229, 9, 20);
}
.buttonToEnter:hover {
  background-color: rgb(193, 17, 25);
}
.or {
  color: rgba(255, 255, 255, 0.7);
}
.btnAcessCode {
  background-color: rgba(174, 174, 174, 0.3);
}
.btnAcessCode:hover {
  background-color: rgba(174, 174, 174, 0.2);
}
.formLogin .or {
  text-align: center;
}
.rememberMe > input {
  height: 1rem;
  width: 1rem;
  margin-right: 1rem;
  color: red;
}
